.list-section {
  display: flex;
  justify-content: center;
  height: 50%;
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid 174157;
  box-shadow: 2px 2px 5px grey;
  width: 50%;
  align-self: center;
}

table {
  width: 100%;
}

#titles-table th {
  width: 20%;
  height: 10px;
  font-family: 'Poiret One', cursive;
  font-family: 'Rubik', sans-serif;
  color: #174157;
  border-bottom: 1px solid #174157;
  font-size: 1vw;
  font-weight: 600;
}